.form-container {
    width: 80%;
    margin: 0 auto;
}

.form-container form {
    background-color: var(--pink);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container form div {
    margin-bottom: 15px;
}

.form-container form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
}

.form-container form button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
