@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --h-yellow: #fbf0c2;
    --h-pink: #ffd6e4;
    --h-blue: #acf2eb;
    --h-orange: #fdcfb7;
    --h-red: #ee787f;
    --h-green: #c0ffc8;
    --black: #36454f;

    --pink: #f0d8d8;
    --off-pink: #d9c1ba;
    --blue: #304860;
    --light-gray: #a8a8a8;
    --dark-gray: #666666;
    --white: #fff;
    --header-height: 3.5rem;
    --body-font: "Montserrat", sans-serif;
    --second-font: "Dancing Script", cursive;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
    --scale-factor: viewport.scale;
}

body {
    font-family: var(--body-font);
    color: var(--h-yellow);
    font-family: var(--body-font);
    overflow-x: hidden;
    background: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

mark {
    background-color: var(--h-yellow);
}

.highlight {
    background-image: linear-gradient(
        -100deg,
        rgba(255, 255, 255, 0),
        var(--h-green) 85%,
        rgba(255, 255, 255, 0)
    );
}
