.checkbox-section {
    flex: 1 15%;
    background-color: var(--black);
    height: 100%;
    border-top: var(--h-yellow) 2px solid;
    border-right: var(--h-yellow) 2px solid;
    padding-top: 40px;
}

.checkbox-section h2 {
    text-align: center;
    color: var(--h-yellow);
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    margin: 25px;
}

.add-check-section {
    margin-top: 15px;
    display: flex column;
    justify-content: space-between;
    align-self: center;
    padding: 0px;
    margin: 15px;
    border-top: var(--h-yellow) 2px solid;
}

.add-check-section h3 {
    text-align: center;
    color: var(--h-yellow);
    margin: 15px;
}

.add-check-section label {
    font-style: bold;
    display: block;
    margin-bottom: 5px;
}

.add-check-section input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 0.1px solid var(--h-yellow);
    background: var(--black);
}

.add-check-section button {
    background-color: var(--h-yellow);
    color: var(--black);
    font-weight: var(--font-semi-bold);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .checkbox-section {
        width: auto;
        border-right: none;
    }

    .checkboxes {
        margin: 20px;
    }
}
