.checkbox-section {
    flex: 1 15%;
    background-color: var(--white);
    padding: 15px;
    height: 100%;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    margin: 50px;
}

.add-check-section {
    margin-top: 15px;
    display: flex column;
    justify-content: space-between;
    align-self: center;

    padding: 15px;
}

.add-check-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.add-check-section input {
    margin-bottom: 10px;

    width: 100%;
    padding: 10px;
    border: 0.1px solid var(--black);
    border-radius: 5px;
}

.add-check-section button {
    background-color: var(--h-green);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .checkbox-container {
        width: auto;
    }

    .checkboxes {
        margin: 20px;
    }

    .add-check-section {
        border-radius: 10px;
        background: var(--h-blue);
    }
}
