.checkbox-section {
    flex: 0 0 20%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 15px;
}

.add-check-section {
    margin-top: 15px;
    display: flex column;
    justify-content: space-between;
    align-self: center;
}

.add-check-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-check-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--blue); /* Green color */
    color: #fff; /* White text */
}

@media only screen and (max-width: 600px) {
    .checkbox-container {
        width: auto;
    }
}
