.results-section {
    flex: 1 15%;
    padding: 15px;
}

.results-section h2 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .results-section {
        margin-bottom: 75px;
    }
}
