.resume-container {
    /* max-width: 1000px; */
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    text-align: center;
}

.resume-container h1 {
    font-size: 3rem;
    color: var(--blue);
    margin-bottom: 50px;
}

.resume-container h2 {
    font-size: 2.5rem;
    color: var(--blue);
}

.resume-heading {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    max-height: 1000px;
}

.pdf-section {
    flex: 70%;
    display: flex column;
    padding: 15px;
}

.approved-container {
    width: 200px;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .resume-container {
        margin: 0 auto;
    }
    .content-container {
        flex-direction: column-reverse;
        max-height: none;
    }

    .checkbox-container {
        width: auto;
    }

    .pdf-section {
        margin-right: 0;
    }
}
