.resume-container {
    /* max-width: 1000px; */
    text-align: center;
    display: flex;
}

.resume-heading {
    margin-bottom: 20px;
    margin-bottom: 20px;
    color: var(--h-yellow);
    text-align: center;
    font-size: 3rem;
    font-family: "Arial, Helvetica", serif;
    font-style: italic;
}

.resume-container h1 {
    font-size: 3rem;
    color: var(--blue);
    margin-bottom: 50px;
}

.resume-container h2 {
    font-size: 2.5rem;
}

.resume-container aside {
    left: 0;
    flex: 1 0 15%;
}

.content-container {
    display: flex;
    flex: 1 80%;
    background-color: var(--white);
    padding-right: 25px;
    padding-top: 20px;
    margin-left: 25px;
}

.pdf-section {
    flex: 70%;
    display: flex column;
    padding: 15px;
}

.approved-container {
    width: 200px;
    padding: 20px;
}
@media only screen and (max-width: 1200px) {
    .content-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 950px) {
    .resume-container {
        margin: 0 auto;
        flex-direction: column;
    }

    .content-container {
        max-height: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        padding-top: 20px;
    }

    .checkbox-container {
        width: auto;
    }

    .pdf-section {
        margin-right: 0;
    }
}
