.home-container {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    display: flex;
    gap: 15px;
}

.home-img {
    flex: 1 1 20%;
    margin-right: -100px;
    margin-top: 40px;
    z-index: 2;
}

.home-words {
    border: var(--h-yellow) 2px solid;
    flex: 1 0 50%;
    left: 0;
    padding-left: 70px;
}

.home-words p {
    padding-top: 15px;
}

.all-home-words {
    padding: 40px;
}

.home-heading {
    font-family: "Arial, Helvetica", serif;
    font-style: italic;
    font-size: 4rem;
    color: var(--h-yellow);
}

.home-description,
.home-list {
    font-size: 1rem;
    color: var(--h-yellow);
    line-height: 1.6;
    margin-bottom: 15px;
}

.home-container li {
    font-family: "Arial, Helvetica", serif;
    font-style: italic;
    font-size: 1.5rem;
    list-style: disc;
    text-align: left;
    margin-left: 100px;
}

.home-container a {
    color: var(--h-blue);
    text-decoration: none;
}

.home-container a:hover {
    color: var(--h-green);
}

.home-container img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1350px) {
    .home-img {
        flex: 1 0 40%;
        margin-right: -80px;
        margin-top: 40px;
        z-index: 2;
    }

    .home-words {
        border: var(--h-yellow) 2px solid;
        flex: 1 1 60%;
        left: 0;
        padding-left: 70px;
    }

    .home-heading {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .home-container {
        flex-direction: column-reverse;
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .home-container img {
        width: 80%;
        height: auto;
    }

    .home-img {
        margin-right: 0;
        margin-top: -50px;
        text-align: center;
        align-items: center;
    }

    .home-words {
        padding: 10px;
    }

    .home-heading {
        font-size: 2rem;
    }

    .home-description,
    .home-list {
        font-size: 0.8rem;
    }

    .home-container li {
        font-size: 1rem;
        margin-left: 50px;
    }
}
